<% if @convo.users.include?(current_user) %>
<h4>convo with <%= @convo.users.map{|u| u.email}.to_s.gsub(/[\"\[\]]/, '') %></h4>

<ul id="chat"></ul>

<form data-remote='true' id='footer'>
    <input class='footer' id='input' autocomplete="off" type='textarea' placeholder=' message...'></input>
    <button class='message' id='submit'></button>
</form>

<script type="text/javascript">
////////////////////////////////////////////////////////////////////////////////////////

var convoid = "<%= @convo.id %>";

function render_time(){
    var time_array = $('.time_div');
    for (var i = 0; i < time_array.length; i++){
        var clock = $(time_array[i]);
        var clock_time = clock.attr('full_time');
        var pretty = $.format.prettyDate(clock_time);
        clock.text(pretty)
    }
};


function render_carrier(input){
    var big_div = $(document.createElement('div'));
    var small_div = $(document.createElement('div'));
    big_div.addClass('big_div');
    small_div.addClass('small_div');
    console.log(input.carrier_id);
    big_div.attr('id', input.carrier_id);

    var content = input.messages[input.messages.length -1].content;
    var pretty_time = $.format.prettyDate(input.time);
    var email = input.email;
    if (email === "<%= current_user.email %>"){
        email = 'me';
        small_div.addClass('mine')
    } else {
        email = email.split('@')[0]
    };

    var email_div = $(document.createElement('div'));
    email_div.addClass('email_div');
    email_div.text(email);
    email_div.attr('full_email', input.email);

    var time_div = $(document.createElement('div'));
    time_div.addClass('time_div');
    time_div.text(pretty_time);
    time_div.attr('full_time', input.time);

    var content_p = $(document.createElement('p'));
    content_p.addClass('content_p');
    content_p.text(content);
    small_div.append(email_div);
    small_div.append(time_div);
    small_div.append(content_p);


    big_div.append(small_div);
    
    if (input.parent) {
        $('.big_div#' + input.parent.toString()).append(big_div)
    } else {
        $('#chat').append(big_div);
    };
    nest_form();
    window.scroll(0, big_div.offset().top);
}

$.ajax({
    url: '/carriers/fetch',
    method: 'post',
    data: {convo: convoid},
    success: function(data){
        for (var i = 0; i < data.length; i++){
            render_carrier(data[i])
        }
    }
})

var faye = new Faye.Client("https://wavvefaye.herokuapp.com/faye/faye");

faye.subscribe('/faye/' + convoid, function(data){
    render_carrier(data);
    render_time();
});

function set_publish(){
    $('.message').off();
    $('.message').on('click', function(){
        var content = $(this).prev().val()
        var parent_id = null;
        if ($(this).hasClass('hide')){
            parent_id = $(this).parent().parent()[0].id;
        }

        var info = {
            parent : parent_id, 
            messages: [{content: content}],
            email: "<%= current_user.email  %>",
            user: "<%= current_user.id %>",
            convo: convoid,
            time: (new Date).toISOString()
        };
        $.ajax({
            url: '/carriers',
            method: 'post',
            data: info,
            success: function(data){
                info.carrier_id = data.carrier_id;
                faye.publish('/faye/' + convoid, info)
            }
        });

        $('#input').val('');
        if ($(this).hasClass('hide') == false){
            $('.footer').val('');  
        }
        return false
    })
}

set_publish()

function nest_form(){
    $('.small_div').off();
    $('.small_div').on('click', function(){
        var big_div = $(this).siblings().context.parentElement;
        var form = $(document.createElement('form'));
        form.attr('data-remote', true);
        var input = $(document.createElement('input'));
        input.attr('type', 'textarea');
        input.attr('paceholder', 'message...');
        input.attr('autocomplete', 'off');
        input.attr('id', 'input');
        input.attr('style', 'width:40%;margin-left:10%;margin-bottom:15px;');
        input.attr('autofocus', true);
        var submit = $(document.createElement('input'));
        submit.attr('type', 'submit');
        submit.attr('id', 'submit');
        submit.attr('class', 'message hide');

// lost focus should kill the form (and val() == '')
        $(form).on('focusout', function(){
            $(form).remove()
        })
        $(form).on('keydown', function(event){
            setTimeout(function(){
                if (event.keyCode == 13){
                    $(form).remove()
                }
            }, 25)
        })
        $(form).append(input);
        $(form).append(submit);
        $(big_div).append(form)
        
        set_publish()
    })
};

setInterval(function(){render_time()}, 20000)

</script>
<% end %>

