<% if @convo.users.include?(current_user) %>
<p>convo number <%= @convo.id %></p>

<h3>Chat</h3>
<ul id="chat"></ul>

<form data-remote='true' id='footer'>
    <input id='input' autocomplete="off" type='text' placeholder=' message...'></input>
    <button class='message' id='submit'></button>
</form>

<script type="text/javascript">
////////////////////////////////////////////////////////////////////////////////////////


var faye = new Faye.Client("https://wavvefaye.herokuapp.com/faye");

function render_carrier(input){
    var li = $(document.createElement('li'));
    li.text(input.email.split('@')[0] + ':   ' + input.messages[input.messages.length -1].content);
    $('#chat').append(li);
    window.scroll(0, li.offset().top);
    // if current user === the user of the message/convo, should color via class
}

faye.subscribe('/faye/<%= @convo.id %>', function(data){
    render_carrier(data)
});

$('.message#submit').on('click', function(){
    var info = {
        messages: [{content: $('#input').val()}],
        email: "<%= current_user.email  %>",
        user: "<%= current_user.id %>",
        convo: "<%= @convo.id %>"
    };
    faye.publish('/faye/<%= @convo.id %>', info);
    $.ajax({
        url: '/carriers',
        method: 'post',
        data: info
    });
    $('#input').val('');
    return false
});

// <% @convo.messages.each do |message| %>
//     var li = $(document.createElement('li'));
//     li.text("<%= message.user.email %>".split('@')[0] + ':   ' + "<%= message.content %>");
//     $('#chat').append(li);
//     window.scroll(0, li.offset().top);
// <% end %>


$.ajax({
    url: '/carriers/fetch',
    method: 'post',
    data: {
        convo: "<%= @convo.id %>"
    },
    success: function(data){
        console.log(data)
        for (var i = 0; i < data.length; i++){
            render_carrier(data[i])
        }
    }
})


</script>
<% end %>

