<% if @convo.users.include?(current_user) %>
<h4>convo with <%= @convo.users.map{|u| u.email}.to_s.gsub(/[\"\[\]]/, '') %></h4>

<ul id="chat"></ul>

<form data-remote='true' id='footer'>
    <input id='input' autocomplete="off" type='text' placeholder=' message...'></input>
    <button class='message' id='submit'></button>
</form>

<script type="text/javascript">
////////////////////////////////////////////////////////////////////////////////////////

var convoid = "<%= @convo.id %>";


function render_carrier(input){
    var big_div = $(document.createElement('div'));
    var small_div = $(document.createElement('div'));
    big_div.addClass('big_div');
    small_div.addClass('small_div');

    var content = input.messages[input.messages.length -1].content;
    var pretty_time = $.format.prettyDate(input.time);
    var email = input.email;
    if (email === "<%= current_user.email %>"){
        email = 'me'
    } else {
        email = email.split('@')[0]
    };

    var email_div = $(document.createElement('div'));
    email_div.addClass('email_div');
    email_div.text(email);
    email_div.attr('full_email', input.email);

    var time_div = $(document.createElement('div'));
    time_div.addClass('time_div');
    time_div.text(pretty_time);
    time_div.attr('full_time', input.time);

    var content_p = $(document.createElement('p'));
    content_p.addClass('content_p');
    content_p.text(content);
    small_div.append(email_div);
    small_div.append(time_div);
    small_div.append(content_p);


    big_div.append(small_div);
    

    $('#chat').append(big_div); //in future this will be to whatever parent div
    window.scroll(0, big_div.offset().top);
}

$.ajax({
    url: '/carriers/fetch',
    method: 'post',
    data: {convo: convoid},
    success: function(data){
        console.log(data)
        for (var i = 0; i < data.length; i++){
            render_carrier(data[i])
        }
    }
})

var faye = new Faye.Client("https://wavvefaye.herokuapp.com/faye");

faye.subscribe('/faye/' + convoid, function(data){
    render_carrier(data)
});

$('.message#submit').on('click', function(){
    var info = {
        // parent carier : this.sibling or something
        messages: [{content: $('#input').val()}],
        email: "<%= current_user.email  %>",
        user: "<%= current_user.id %>",
        convo: convoid,
        time: new Date().getTime()
    };
    faye.publish('/faye/' + convoid, info);
    $.ajax({
        url: '/carriers',
        method: 'post',
        data: info
    });
    $('#input').val('');
    return false
});


</script>
<% end %>

