<!DOCTYPE html>
<html>
<head>
  <title>W&#581;V&#425;</title>
  <%= favicon_link_tag 'animated.ico' %>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <script type="text/javascript" src='https://wavvefaye.herokuapp.com/faye/faye.js'></script>
</head>
<body>  
<!--    <p class="notice"><%= notice %></p>
   <p class="alert"><%= alert %></p> -->


    <%= yield %>

</body>
</html>
